@charset "UTF-8";

.nextpage {font-size:16px;text-align:center;}
.pagination {padding-bottom:20px;text-align:center;}
.pagination li {display: inline-block;height:40px;line-height:40px;width:40px;text-align:center;border:1px #ccc solid;color:#000053;border-radius: 5px / 5px;}
.pagination .pre {background-color:#efefef;color:#333;}
.pagination .this {background-color:#777;color:#fff;}
.pagination li a{display:block;text-decoration: none;}
.pagination li a:hover {color: #fff;text-decoration: none;background-color: #003396;}
@media screen and (max-device-width: 480px) {
.nextpage {text-align:left;padding: 24px 10px 24px 10px;font-size: 13px;background-color:#fafafa;border-radius: 4px;border:#e3e3e3 solid 1px;}
.nextpage a{display:block;font-weight:bold;text-decoration:none;}
.nextpage a:hover{text-decoration:underline;}
}